.App {
  
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


body {
  background-image: url("./background-img.jpg");
  background-size: 950px 950px;
}







/*This styling is for the login and adduser page*/
.signup-class{
  text-decoration: none;
  color: white;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid white;
  

}
.signup-class:hover{
  background-color:white ;
  border: 1px solid white;
  color: #976363;
}


.btn-hover:hover{
  background-color: white;
  color: #976363;

}

.btn-hover1:hover{
  background-color: white;
  color: #00FFFF;
}


.btn-hover1{
  font-size: 1rem;

}
.btn-hover{
  font-size: 1rem;
}

.input:focus{
  box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2);
  border: 1px solid maroon;
}
.input1:focus{
  box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2);
    border: 1px solid  	#00FFFF;

}
/*end css for login and sign up page*/